;redcode
;name U-Lat II
;length 100
      ORG 75
      PIN 0
      SPL.B  $2        , }6177    
      SPL.B  $1        , }4696    
      SPL.B  $1        , }3215    
      MOV.I  <1        , {1       
      SPL.B  $951      , $14      
      MOV.I  <1        , {1       
      JMP.B  $1560     , $29      
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      SPL.B  @0        , <558     
      MOV.I  }-1       , >-1      
      SPL.B  #2579     , >-2579   
      MOV.I  {2579     , {-2578   
      ADD.F  $-2       , $-1      
      DJN.F  @0        , {-2      
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      SPL.B  @0        , >286     
      MOV.I  }-1       , >-1      
      SPL.B  @0        , <2668    
      MOV.I  }-1       , >-1      
      MOV.I  #4419     , {0       
      MOV.I  #2667     , *0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , }3532    
      DAT.F  $0        , }2051    
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  {87       , $583     
      SNE.I  $9902221  , $9905436 
      SEQ.I  <-74      , $9902354 
      JMP.B  $15       , }17      
      SNE.I  $1795658  , $1800354 
      SEQ.I  <-5       , $1797273 
      JMP.B  $12       , }12      
      SNE.I  $10878575 , $10883271
      SEQ.I  <-37      , $10880190
      DJN.A  $9        , {9       
      SNE.I  $6317092  , $6321788 
      SEQ.I  <-39      , $6318707 
      DJN.A  $6        , *0       
      SNE.I  $19025169 , $19031346
      SEQ.I  <-88      , $19028264
      JMP.B  $3        , {5       
      SNE.I  $14463686 , $14468382
      JMZ.F  $-91      , <-90     
      MUL.B  *2        , $4       
      SNE.I  <-47      , @3       
      ADD.B  $-93      , $2       
      MOV.I  $-21      , @1       
      MOV.I  $-22      , }3080    
      SUB.AB #7        , @-4      
      DJN.B  $-3       , #16      
      DJN.F  $-99      , #0       
