;redcode
;name Mandragora
;length 100
      ORG 61
      PIN 0
      DAT.F  $0        , $0       
      DAT.F  >-88      , >-512    
      MOV.I  $8        , $5538    
      MOV.I  <40       , <5       
      SPL.B  $1        , <7277    
      SPL.B  $1        , <6323    
      MOV.I  <37       , <2       
      MOV.I  <28       , {2       
      SPL.B  $5680     , $5684    
      DJN.F  $5356     , <400     
      MOV.I  #2667     , *0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      SPL.B  #2667     , <6774    
      ADD.F  $-1       , $1       
      SPL.B  $-2491    , <1921    
      DJN.F  $324      , <6831    
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $1        , $14      
      SPL.B  #5585     , $14      
      MOV.I  *-2       , >-7      
      MOV.I  *-3       , >-8      
      DJN.F  $-2       , }-3      
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , <-534    
      DAT.F  $0        , <-291    
      DAT.F  $0        , <-48     
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $-54      , $-433    
      DAT.F  $-55      , $-190    
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      SNE.I  $-1079265 , $-1079556
      SEQ.I  <-61      , $-1081665
      JMP.B  $25       , }25      
      SNE.I  $-400492  , $-400783 
      SEQ.I  <-10      , $-402892 
      JMP.B  $22       , {22      
      SNE.I  $-912739  , $-913030 
      SEQ.I  <-14      , $-915139 
      DJN.A  $19       , {19      
      SNE.I  $-101162  , $-101210 
      SEQ.I  <-22      , $-103320 
      JMP.B  $16       , }18      
      SNE.I  $-1125653 , $-1126187
      SEQ.I  <-27      , $-1128297
      JMP.B  $13       , {15      
      SNE.I  $-613412  , $-613703 
      SEQ.I  <-29      , $-615813 
      JMP.B  $10       , }4443    
      SEQ.I  >13       , $1829    
      JMP.B  $9        , <12      
      SEQ.I  $-1081906 , $-1082198
      JMP.B  $6        , }6       
      SEQ.I  $-402810  , $-403102 
      JMP.B  $4        , {4       
      SEQ.I  $-915299  , $-915591 
      DJN.A  $2        , {2       
      JMZ.F  $-85      , $-616115 
      MUL.B  *2        , $4       
      SNE.I  {-34      , @3       
      ADD.B  $-42      , $2       
      MOV.I  $-90      , @1       
      MOV.I  $-91      , }2108    
      SUB.AB #-7       , $-1      
      DJN.B  $-3       , #20      
      JMP.B  $-93      , }3256    
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
      DAT.F  $0        , $0       
