ORG 42
PIN 0
dat.f #0, #0
add.f $-1, $7
mov.i $27, <6
mov.i {-1, <5
mov.i {-2, <4
mov.i {-3, <3
mov.i {-4, <2
jmn.b $-5, {-5
spl.b $1287, $1297
mov.i $2, $-1
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $19, $19
spl.b #-6557, #-6557
mov.i $-1, >-4
mov.i *-1, >-5
djn.a $-2, $7
sub.f $-4, @3
sne.i $6556, $6550
sub.f $-6, $-1
seq.i *-2, @-2
slt.a #20, $-3
djn.b $-5, #4800
sub.ba #0, #-7
mov.ab @-4, @-10
jmn.b *-10, $-3
djn.a <-2, {-1
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
ldp.a #0, $15
ldp.ba $2, $3
mod.ba *13, $2
stp.b *1, #234
jmp.b }0, $724
jmp.b $44, $130
dat.f $-47, $666
dat.f $42, $835
dat.f $-48, $448
dat.f $40, $857
dat.f $-51, $776
dat.f $38, $362
dat.f $-52, $778
dat.f $36, $801
dat.f $35, $923
dat.f $0, $9
dat.f $0, $11
dat.f $0, $10
dat.f $-52, $778
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
dat.f $0, $0
spl.b #2, *0
mov.i $5, *2
add.f $-2, $1
mov.i $4655, $7517
jmp.b $-3, $-4
dat.f $0, $0
dat.f }1, >1
spl.b $4200, {3
mov.i }2, }-1
mov.i $3, >5200
mov.i $3, }-3
jmz.f $-4, *-1
dat.f <2667, <5334
mov.i >-9, >6
spl.b $2, >3988
spl.b $1, >4191
spl.b $1, $-3
mov.i >-13, >2
mov.i <-2, {3
spl.b @2, $5294
spl.b @1, >-1
djn.b $5521, #5292